body {
	background: url(../images/gradient.jpg); 
	margin: 0 auto;
	line-height: 150%;                                                         
}

.saturn {
	vertical-align: 200%;
} 
                                                         
h1, p, h2 {
	background-color: #FFF;  
	font-family: Helvetica, sans-serif;
	font-variant: small-caps; 
	text-align: left; 
	text-transform: capitalize;                                                       
}

ul a {
	text-decoration: none;
}

ul {
	font: normal bold 24px/25% "Book Antiqua", "Times New Roman", sans-serif;
	margin-left: 10%;
}

ul li {
	display: inline;
}

ul li a:hover {
	color: #FF6; 
}

ol {
	opacity: 1.1;
	color: rgba(54, 17, 89, 1); /*  Purple  */ 
	text-indent: 0.3em;                                                          
}

h3 {
	color: #6F0; 
	font-weight: bold;                                                          
	text-shadow: #0D0A06 0.1em 0.1em 0.2em;  
	letter-spacing: 0.2em;
	font-size: 22px;
	font-style: italic;                                                         
}


                                                          



